<%- include('../partials/header.ejs')%>

<main class="pb-5">
    <div class="container mt-5">
      <h1 class="text-center mb-5">Upcoming Events</h1>
      <div class="card mb-5">
        <div class="card-header bg-primary text-white">
          <span style="font-size: 24px;">Seminars</span>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between p-3">
            <strong><a href="event-detail.html">Managing Workplace Stress</a></strong>
            <span>Time: 10:00 AM, Location: Room 101</span>
          </li>
          <li class="list-group-item d-flex justify-content-between p-3">
            <strong><a href="event-detail.html">Keys to Better Sleep</a></strong>
            <span>Time: 2:00 PM, Location: Auditorium</span>
          </li>
          <li class="list-group-item d-flex justify-content-between p-3">
            <strong><a href="event-detail.html">Understanding Anxiety</a></strong>
            <span>Time: 4:00 PM, Location: Conference Hall</span>
          </li>
        </ul>
      </div>
  
      <div class="card mb-5">
        <div class="card-header bg-success text-white">
          <span style="font-size: 24px;">Meditations</span>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between p-3">
            <strong><a href="event-detail.html">Guided Meditation for Relaxation</a></strong>
            <span>Time: 9:00 AM, Location: Room 201</span>
          </li>
          <li class="list-group-item d-flex justify-content-between p-3">
            <strong><a href="event-detail.html">Mindful Walking Meditation</a></strong>
            <span>Time: 1:00 PM, Location: Hall B</span>
          </li>
          <li class="list-group-item d-flex justify-content-between p-3">
            <strong><a href="event-detail.html">Breathing Basics</a></strong>
            <span>Time: 5:00 PM, Location: Conference Hall</span>
          </li>
        </ul>
      </div>
    </div>
  </main>

<%- include('../partials/footer.ejs')%>