<%- include('../partials/header.ejs')%>

<main>
    <div class="container py-5 m-5">
      <h1 class="font-weight-bold m-3 mb-5">Welcome to MindfulMeet</h1>
      <h4 class="m-3 mb-5" >Engage in guided practices, connect with like-minded individuals, and share experiences that foster personal growth.</h4>
      <h6 class="m-3">Join our community for support, guidance, and meaningful conversations. Start your journey to a healthier mind and a happier life with us today.</h6>
    </div>
  </main>

<%- include('../partials/footer.ejs')%>