<%- include('../partials/header.ejs')%>

<main>
  <div class="container mt-5">
    <h1 class="text-center mb-4">New Event</h1>
    <div class="container-form pb-5">
      <form action="/events" method="post" enctype="multipart/form-data">
        <p>
          <label for="category">Category</label>
          <select name="category" id="category" required>
            <option value="" disabled>--Select a Category--</option>
            <option value="Meditations">Meditations</option>
            <option value="Seminar">Seminar</option>
            <option value="OneOnOne">One on One</option>
            <option value="Workshops">Workshops</option>
            <option value="Other">Other</option>
          </select>                     
        </p>
        <p>
          <label for="title">Title</label>
          <input type="text" name="title" placeholder="title" id="title" required>
        </p>
        <p>
          <label for="location">Location</label>
          <input type="text" name="location" placeholder="location" id="location" required>
        </p>
        <p>
          <label for="host">Host</label>
          <input type="text" name="host" placeholder="host" id="host" required>
        </p>
        <p>
          <label for="details">Details</label>
          <textarea name="details" placeholder="description" id="details" rows="4" required></textarea>
        </p>
        <p>
          <label for="start">Start</label>
          <input type="datetime-local" name="start" id="start" required>
        </p>
        <p>
          <label for="end">End</label>
          <input type="datetime-local" name="end" id="end" required>
        </p>        
        <p>
          <label for="image">Image</label>
          <input type="file" name="image" id="image">
        </p>
        <p>
          <label for="submit"></label>
          <input type="submit" name="submit" id="submit"> 
        </p>
      </form>
    </div>
  </div>
</main>

<%- include('../partials/footer.ejs')%>
