#header-img{
    height: 100%;
    width: 40%;
}

#header-img-holder{
    height: 6vh;
    overflow: hidden;
}

#header-link-holder a{
    font-size: 20px;
    text-decoration: none;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40; 
}

.container-form { 
    width: 80%; 
    max-width: 600px; 
    margin: 120px auto; 
  }
  
  p {
    margin: 10px 0; 
  }
  
  label {
    display: block; 
  }
  
  input, select, textarea {
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 10px; 
  }

  input[type=submit] {
    background-color: green;
    color: white;
    border-radius: 5px;
    border-color: black;
  }
  
  .card {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    text-align: center; 
}

.card h5 {
    font-size: 24px; 
}

.card p {
    font-size: 18px; 
}

@media (max-width: 768px) {
    .card {
        width: 90%;
    }
}