#header-img{
    height: 100%;
    width: 40%;
}

#header-img-holder{
    height: 6vh;
    overflow: hidden;
}

#header-link-holder a{
    font-size: 20px;
    text-decoration: none;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40; 
}