<%- include('./partials/header.ejs') %>

<main>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="display-4 text-center mb-5">About Us</h1>
        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title">Our Mission</h4>
            <p class="card-text">Our goal is to connect people with each other and raise awareness about mental health to enable individuals to thrive.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Join Our Community</h4>
            <p class="card-text">Join our community for support, guidance, and meaningful conversations. Start your journey to a healthier mind and a happier life with us today. We offer a variety of seminars and meditations to the public.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('./partials/footer.ejs') %>
