#header-img{
    height: 100%;
    width: 27%;
}

#header-img-holder{
    height: 6vh;
    overflow: hidden;
}

#header-link-holder a{
    font-size: 19px;
    text-decoration: none;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40; 
}
  
#sign-up {
  border-radius: 5px;
  border: 1px solid rgb(37, 198, 37);
}

#log-in {
  border-radius: 5px;
  border: 1px solid rgb(37, 198, 37);
}